.nav {
	grid-area: n;
	background-color: #afeeee;
	padding: 20px;
}
.item {
	margin-bottom: 10px;
}
.item:last-child {
	margin-top: 100px;
}
.item a {
	color: white;
	text-decoration: none;
}
.item a.active {
	color: #4a708b;
}

.friends {
	font-size: 22px;
}
